<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{https://d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.4.min.js}"></script>
    <script th:src="@{http://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.2/stomp.min.js}"></script>
    <script th:src="@{http://code.jquery.com/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/three.js/three.js}"></script>
    <script th:src="@{/resources/js/render.js}"></script>
    <script th:src="@{/resources/js/connect.js}"></script>
    <script th:src="@{/resources/js/helvetiker_regular.typeface.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap-3.3.5-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>

</head>
<body>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        init();
        animate();
        connect();
    });

</script>

<div id="renderPlace" class="container row col-md-12">

</div>
<div id="dashboard" class="container row col-md-10">
    <div class="col-md-4">
        <label class="dashboard-label">Скорость:</label>
        <span id="speed"></span>
    </div>
    <div class="col-md-2 col-offset-md-2">
        <label class="dashboard-label">Количество ошибок:</label>
        <span id="mistakesCount"></span>
    </div>
    <div class="col-md-4 col-offset-md-4">
        <label class="dashboard-label">Ошибки:</label>
        <div id="mistakes" style="overflow: auto; height: 150px;"></div>
    </div>
</div>


</body>
</html>